
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>注册</title>
    <style type="text/css">
        html, body {
            margin: 0;
        }

        * {
            text-decoration: none;
            list-style: none;
        }

        img {
            border: none;
            vertical-align: middle;
        }

        .top {
            width: 100%;
            height: 50px;
            background-color: #efe9e9;
            color: #4f4f4f;
        }

        .top_left {
            float: left;
            width: 50%;
            font-weight: 700;
            line-height: 50px;
            margin-left: 30px;
        }

        .top_right {
            float: right;
            margin-right: 30px;
            line-height: 40px;
        }

        .button {
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            padding: 5px 15px;
            border: 1px solid #669985;
        }

        .div_row {
            line-height: 35px;
            margin-top: 10px;
            clear: both;
            height:35px;
            margin-left:30px;
        }

        .div_row_left {
            float: left;
            width: 85px;
            text-align: left;
        }

        .txt {
            float: left;
            line-height: 22px;
            height:22px;
            width:180px;
        }

        input[type=text] {
            height: 22px;
            line-height: 22px;
            width:180px;
        }
    </style>
</head>
<body>
    <form id="form1" method="post" action="/UserCenter/Register_Step2">
        <div class="top">
            <div style="width:1000px;margin:0 auto;height:50px;">
                <div class="top_left">趣订货| 注册账号 </div>
                <div class="top_right">已有趣订货账号?<input type="button" value="登录" class="button" onclick="ReturnLogin()" style="margin-left:15px;color:#669985;height:25px;padding:0px 15px;width:65px;" /> </div>
            </div>
            <div style="width:1000px;margin:0 auto;height:500px;text-align:center;">
                <div class="center" style="width:350px;margin:0 auto;">
                    <div class="center_top"></div>
                    <div class="div_row"><span class="div_row_left"><span style="color:red;">*</span>企业名称</span><input type="text" class="txt" name="cname" placeholder="请输入公司名称" /> </div>
                    <div class="div_row"><span class="div_row_left"><span style="color:red;">*</span>登录密码</span><input type="password" class="txt" placeholder="设置你的登录密码" name="pwd" /></div>
                    <div class="div_row"><span class="div_row_left"><span style="color:red;">*</span>联系人</span><input type="text" class="txt" placeholder="请输入联系人姓名" name="contact" /></div>
                    <div class="div_row"><span class="div_row_left"><span style="color:red;">*</span>手机</span><input type="text" class="txt" name="telphone" value="@ViewBag.phone" disabled="disabled" placeholder="请输入手机号" /></div>
                    <div class="div_row"><span class="div_row_left"><span style="color:red;">*</span>所属行业</span>
                    <select name="industry" id="industry" class="txt" style="width:180px;height:26px;line-height:26px;">
                        @foreach (Laplace.LiteCOS.Model.IndustryInfo item in ViewBag.modes as List<Laplace.LiteCOS.Model.IndustryInfo>)
                        {
                            <option value="@item.IndustryId">@item.Name</option>
                        }
                        
                    </select></div>
                    <div class="div_row" style="margin-left:0px;margin-top:30px;"><input type="submit" style="width:180px;background-color:#669985;color:#fff;padding:3px 15px;" onclick="return Step2Sybmit()" value="确认" class="button" /> </div>
                </div>

            </div>
            <input type="hidden" name="Tel_phone" value="@ViewBag.phone" />
            <input type="hidden" name="rs2_jyCode" value="@ViewBag.jyCode" />
        </div>
    </form>
    <script src="~/Scripts/jquery-1.8.3.min.js"></script>
    <script src="~/Scripts/Register.js"></script>
</body>
</html>
